$li-gap: 5px;
$label-width: 50px;
$label-height: 50px;
$label-margin: 0!important;
$border-radius: 3px;
$border-color: var(--cms-border-colour, #999);
$checked-outline-color: #ddd;
$checked-content-color: #000;
$checked-text-shadow-color: #fff;

.colourpalette {
  ul {
    overflow: hidden;
    padding-left: 0;

    // &:has(li.theme-colour) {
    //   padding-top: 20px;
    // }
  }

  li {
    position: relative;
    float: left;
    list-style: none;
    margin-right: $li-gap;
    margin-bottom: $li-gap * 2;

    &.val0 {
      margin-right: $li-gap * 4;
      padding-right: $li-gap * 4;
      border-right: 1px solid var(--cms-border-colour, #999);

      // & + .theme-colour {
      //   &:before {
      //     content: 'Theme Colours';
      //     white-space: nowrap;
      //     position: absolute;
      //     bottom: 100%;
      //     left: 0;
      //     font-size: 12px;
      //     opacity: .6;
      //     margin-bottom: 4px;
      //     color: var(--cms-text-colour, #000);
      //   }
      // }
    }

    &.theme-colour + :not(.theme-colour) {
      margin-left: $li-gap * 3;
      padding-left: $li-gap * 4;
      border-left: 1px solid var(--cms-border-colour, #999);
    }

    input {
      position: absolute!important;
      top: 0!important;
      left: 0!important;
      width: 0!important;
      height: 0!important;
      margin: 0!important;
      padding: 0!important;
      opacity: 0!important;
    }

    label {
      cursor: pointer;
      position: relative;
      width: $label-width;
      height: $label-height;
      display: block;
      margin: $label-margin;
      box-shadow: inset 0 0 0 1px $border-color;
      border-radius: $border-radius;

      &:hover,
      &:focus-visible {
        span {
          opacity: 1;
        }
      }

      div {
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 2;
        left: 0;

        &:nth-child(1) {
          top: 50%;

          &:hover {
            ~ span {
              top: 1px;
              transform: translate(-50%, 0);
            }
          }
        }

        &:nth-child(2) {
          top: 0;

          &:hover {
            ~ span {
              top: 100%;
              transform: translate(-50%, -100%);
            }
          }
        }
      }

      span {
        display: block;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        z-index: 1;
        font-size: 10px;
        line-height: 10px;
        padding: 2px 3px;
        font-weight: bold;
        white-space: nowrap;
        font-family: monospace;
        text-transform: uppercase;
        letter-spacing: 2px;
        pointer-events: none;
        border-radius: $border-radius * .66;
        color: var(--cms-text-colour, #000);
        box-shadow: 0 0 0 1px $border-color;
        background-color: var(--cms-background-colour, #fff);
        text-align: center;
        min-width: 100%;
        transform: translate(-50%, -50%);
        transition:
          opacity .2s ease 0s,
          top .2s ease 0s,
          transform .2s ease 0s;
      }
    }

    input:checked + label {
      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: $label-height;
        text-align: center;
        content: "\2714";
        color: $checked-content-color;
        text-shadow:
          -1px -1px 0 $checked-text-shadow-color,
          1px -1px 0 $checked-text-shadow-color,
          -1px 1px 0 $checked-text-shadow-color,
          1px 1px 0 $checked-text-shadow-color;
      }
    }

    input[value="0"] {
      + label {
        &:before {
          content: 'unset';
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: .6;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase;
          transform: translate(-50%, -50%);
        }

        span {
          display: none;
        }
      }

      &:checked+label:before {
        content: none;
      }
    }
  }

  &.readonly li label {
    cursor: default;
  }
}

// #Form_ItemEditForm_ContrastColour_Holder {
//   margin-top: 150px;
// }

#Form_ItemEditForm_ContrastColour_Holder {
  font-size: 0;

  .optionset {
    margin-bottom: 50px;
  }

  .radio {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 10px;

    &:nth-child(odd) {
      margin-right: 10px;
    }

    &:nth-child(even) {
      margin-left: 10px;
    }

    &.vallight {
      color: var(--colourpalette-dark-text, #000);
    }

    &.valdark {
      color: var(--colourpalette-light-text, #fff);
    }

    label {
      position: relative;
      display: block;
      font-size: 0;
      width: 75px;
      height: 75px;
      color: inherit;
      max-width: 100%;
      padding: 20px;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid var(--cms-border-colour);
      background-image: linear-gradient(
        to bottom right,
        transparent 0%,
        transparent 66%,
        currentColor 66%,
        currentColor 100%
      );

      input {
        position: absolute;
        display: block;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        border-radius: inherit;
        cursor: pointer;
        -webkit-appearance: none;
        outline: none !important;
        background: transparent!important;

        &:checked {
          box-shadow:
            0 0 0 3px var(--cms-background-colour),
            0 0 0 5px var(--cms-accent-colour),
        }
      }

      &:before {
        content: 'A';
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 16px;
        line-height: .5;

      }

      &:after {
        content: attr(data-contrast);
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 14px;
        margin-top: 5px;
        font-weight: bold;
        color: var(--cms-text-colour);
      }
    }
  }
}

#describes-Form_ItemEditForm_Contrast {
  margin-top: 25px;
}

.col-HexValue-ColorCMS {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}
